.Footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;

  img {
    margin-left: 0.5rem;
  }

  a {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
