html {
  font-size: 10px;
}

body {
  font-family: 'Fira Code';
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.75rem;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  max-width: 800px;
}
