.flex {
  display: flex !important;

  &-inline{display: inline-flex !important;}

  &-top {margin-bottom: auto;}
  &-left {margin-right: auto;}
  &-bottom {margin-top: auto;}
  &-right {margin-left: auto;}

  &-align{
    &-start{align-items: start;}
    &-center{align-items: center;}
    &-end{align-items: flex-end;}
    &-stretch{align-items: stretch !important;}
    &-baseline{ align-items: baseline }
  }

  &-align-self{
    &-start{align-self: start;}
    &-center{align-self: center;}
    &-end{align-self: flex-end;}
    &-stretch{align-self: stretch !important;}
    &-baseline{ align-self: baseline }
  }
  
  &-justify{
    &-start{justify-content: start !important;}
    &-center{justify-content: center !important;}
    &-end{justify-content: flex-end !important;}
    &-stretch{justify-content: stretch !important;}
    &-space-between{justify-content: space-between !important;}
  }

  &-dir{
    &-col{ flex-direction: column; }
    &-row{ flex-direction: row; }
  }

  &-primary{flex: 1;}
  &-nowrap{flex-wrap: nowrap !important;}
}

.d{
  &-block{display: block !important;}
  &-inline-block{display: inline-block !important;}
  &-grid{display: grid !important;}
}

.nowrap{white-space: nowrap !important;}
.textWrap{white-space: normal !important}

.text{
  &-right{text-align: right !important;}
  &-center{text-align: center !important;}
  &-left{text-align: left !important;}
  &-underline{
    text-decoration: underline !important;

    &-hover{
      &:hover{text-decoration: underline !important;}

      &-none{
        &:hover{text-decoration: none !important;}
      }
    }
    &-none{text-decoration: none !important;}
  }

  &-linethrough{
    text-decoration: line-through;
  }
}

.font{
  &-xxl{font-size: $font-size-xxl;}
  &-xl{font-size: $font-size-xl;}
  &-lg{font-size: $font-size-lg;}
  &-sm{font-size: $font-size-sm;}
  &-xs{font-size: $font-size-xs;}
  &-thin{font-weight: $font-wt-thin !important;}
  &-normal{font-weight: $font-wt-normal !important;}
  &-medium{font-weight: $font-wt-medium !important;}
  &-semi{font-weight: $font-wt-semi !important;}
  &-bold{font-weight: $font-wt-bold !important;}
  &-italic{font-style: italic !important;}
  @for $i from 10 through 20 {
    &-#{$i} {font-size: #{$i}px;}
  }
}

.m{
  @each $val in (0, 2, 5, 10, 15, 20, 25, 30) {
    &-#{$val} {margin: #{$val}px !important;}

    &-h-#{$val} {
      margin-left: #{$val}px !important;
      margin-right: #{$val}px !important;
    }
    &-v-#{$val} {
      margin-top: #{$val}px !important;
      margin-bottom: #{$val}px !important;
    }

    @each $dir in (top, left, bottom, right) {
      &-#{$dir}{
        &-#{$val} {
          margin-#{$dir}: #{$val}px !important;
        }
      }
    }
  }
}

.p{
  @each $val in (0, 2, 5, 10, 15, 20, 25, 30) {
    &-#{$val} {padding: #{$val}px !important;}

    &-h-#{$val} {
      padding-left: #{$val}px !important;
      padding-right: #{$val}px !important;
    }
    &-v-#{$val} {
      padding-top: #{$val}px !important;
      padding-bottom: #{$val}px !important;
    }
    
    @each $dir in (top, left, bottom, right) {
      &-#{$dir}{
        &-#{$val} {
          padding-#{$dir}: #{$val}px !important;
        }
      }
    }
  }
}

.b{
  &-all{border: 1px solid currentColor !important;}

  @each $dir in (top, left, bottom, right) {
    &-#{$dir}{
      border-#{$dir}: 1px solid currentColor !important;

      &-none{border-#{$dir}: none !important;}
    }
  }

  &-none{border: none !important;}

  &-radius{
    border-radius: $border-radius !important;

    &-sm{border-radius: $border-radius-sm !important;}

    &-no {
      border-radius: 0 !important;
    }
  }
}


.full {
  width: 100%;
}

.max-content {
  &-width {
    width: max-content;
  }
  &-height {
    height: max-content;
  }
}

.no-text-select{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
